@use 'base' as b;


.projs {
    @include b.light-basics;
    grid-area: content;
}

.project {
    border-width: 0 .2em .6em .5em;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 1rem;
    width: auto;
    pointer-events: auto;
    //position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    //display: flex;
   // align-items: stretch;
}

%projecttext {
    // display: inline-block;
    // vertical-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 34%;
    overflow: hidden;
    margin: auto;
}

.projecttitle {
    @extend %projecttext;
    display: inline-block;
    grid-row-start: 2;
    grid-row-end: 3;
}

.projecttitle:hover {
    cursor: pointer;
    pointer-events: auto;
}

.projectdate{
    @extend %projecttext;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
}

.actions{
    @extend %projecttext;
    grid-column-start: 4;
    vertical-align: center;
    //top: margin-top;
    grid-column-end: 5;
    display: inline-block;
    margin: auto;
    //position:absolute;
    //height: 2em;
    // position: relative;
}

.actionHeader {
    // @extend %projecttext;
    grid-column-start: 4;
    vertical-align: center;
    top: margin-top;
    // grid-column-end: 5;
    //justify-content: right;
    display:inline-block;
    //position:absolute;
    //height: 2em;
}

.header {
    //display: inline-block;
    //width: auto;
    vertical-align: center;
    font-size: b.$header-fontsize;
    grid-area: header;
    padding-left: 1.2em;
    padding-top: 2rem;
    // position: absolute;
    //padding-top: 2.5em;
}


